:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}
#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); 
	margin-bottom: var(--card-margin); 
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			selector(#cards) start 1,
			selector(#cards) start 0
		;
		start: selector(#cards) start 1;
		end: selector(#cards) start 0; 
		time-range: 4s;
	}

	.card {
		--index0: calc(var(--index) - 1);
		--reverse-index: calc(var(--numcards) - var(--index0));
		--reverse-index0: calc(var(--reverse-index) - 1);
	}
	
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}
header {
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    background-image: url('https://t3.ftcdn.net/jpg/05/79/48/52/360_F_579485255_hzHox0stuQmBx5QViwnQqQjk7RD2AJza.jpg');
    background-size: cover;
    background-position: center;
    width: 100% !important;
    color: white;
    text-align: center;
}





#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}

#debug:checked ~ main {
  --outline-width: 1px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f2f2f2;
	color: #333;
	text-align: center;
	font-size: calc(1em + 0.5vw);
}

header,
main {
	width: 80vw;
	margin: 0 auto;
	padding-top: 120px; 
}

header {
	height: 100vh;
	display: grid;
	place-items: center;
	position: relative;
}

#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;
	
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;
	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h1 {
	font-weight: 300;
	font-size: 3.5em;
}

h2 {
	font-weight: 300;
	font-size: 1.9em;
}

p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42;
}
.btn {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

#navigation {
    background-color: #333;
    text-align: left;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
#navigation a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}
#navigation a:hover, #navigation a.active {
    background-color: turquoise;
    color: #fff;
	border-radius: 0.25em;
}

  
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
	margin-top: 500px;
}
footer p{
	font-size: 18px !important; 
}
.footer-container {
    display: flex;
    justify-content: space-between;
	height: 300px;
}
.footer-section {
    width: 45%;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-bottom: 10px; 
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
	font-size: 18px !important; 
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #fff;
}
.footer-bottom a {
    color: #fff;
    text-decoration: none;
}
.footer-section ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}
.footer-bottom a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
}